@import "compass/css3";

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

$header-height: 60px;
$red: #ed4e52;
$dark-red: #bf4e48;
$gray: #afafaf;
$light-gray: #ededed;

body {
  font-family: Microsoft YaHei, serif;
  width: 1280px;
  margin: auto;
}

input {
  font-family: Microsoft YaHei, serif;
}

header {
  height: $header-height;
  position: relative;
  line-height: $header-height;
}

header .nav-left {
  background: url("../images/task7/icon-1.png") no-repeat left center;
  background-size: 30px 30px;
  padding-left: 40px;
  position: absolute;
  left: 100px;
  text-align: center;
  h2 {
    font-size: 24px;
    color: #373737;
  }
}

header nav {
  position: absolute;
  right: 160px;
  ul {
    color: $gray;
    li {
      width: 88px;
      height: 56px;
      font-size: 14px;
      display: inline-block;
      text-align: center;

      &:hover {
        color: $red;
        border-bottom: 4px solid $red;
      }
    }
  }
}

header .nav-right {
  position: absolute;
  right: 80px;
  background: url("../images/task7/icon-2.jpg") no-repeat left center;
  padding-left: 20px;
  font-size: 14px;
  color: #e27474;
}

.jumbotron {
  height: 700px;
  background: url("../images/task7/pic01.jpg");
  background-size: cover;
  padding-top: 200px;
  padding-left: 100px;
  h1 {
    font-family: Arial serif;
    font-size: 64px;
    color: white;
    font-weight: normal;
  }
  p {
    margin-top: 24px;
    color: $light-gray;
    font-size: 20px;
  }

  button {
    margin-top: 56px;
    color: white;
    background: $red;
    border: none;
    width: 360px;
    height: 56px;
    font-size: 28px;
  }
}

.feature {
  .cell {
    position: relative;
    height: 250px;
    width: 24%;
    display: inline-block;
    img {
      display: block;
      margin: 40px auto;
    }

    p {
      color: $gray;
      text-align: center;
      width: 180px;
      margin: 0 auto;
      font-size: 14px;
    }

    span {
      position: absolute;
      right: 0;
      bottom: 72px;
      height: 56px;
      width: 2px;
      background-color: $gray;
    }
  }

}

.else {
  background-color: $light-gray;
  height: 360px;
  padding-top: 92px;
  img {
    display: block;
    margin: 0 auto;
  }

  p {
    color: #a2a2a2;
    font-size: 50px;
    text-align: center;
    margin-top: 56px;
  }
}

.search {
  height: 340px;
  background: url("../images/task7/pic02.jpg");
  background-size: cover;
  padding-top: 60px;
  text-align: center;

  h4 {
    color: white;
    font-size: 24px;
  }

  hr {
    width: 40px;
    height: 10px;
    margin: 10px auto;
    border: none;
    border-top: 2px solid white;
    transition: width 0.4s ease-in-out;

    &:hover {
      width: 260px;

    }
  }

  p {
    margin-top: 20px;
    color: white;
    font-size: 14px;
  }

  .select {
    margin-top: 40px;
    height: 36px;
    line-height: 36px;

    .input-wrap {
      width: 100%;
      height: 100%;
      background: url("../images/task7/icon-7.png") 210px 8px no-repeat #fff;
      background-size: 20px;
      color: $gray;
      font-size: 16px;

      input {
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
      }

      span {
        position: absolute;
        left: 10px;
        top: 0;
        font-size: 12px;
      }
    }

    ul {
      position: absolute;
      width: 100%;
      border: 2px solid $dark-red;
      border-top: 0;
      li {
        list-style: none;
        line-height: 32px;
        background: $light-gray;
        text-align: left;
        color: $gray;
        padding-left: 40px;
        font-size: 12px;

        &:hover {
          background: url("../images/task7/icon-8.png") left no-repeat $dark-red;
          color: white;
        }
      }
    }

    input[type="submit"] {
      color: white;
      position: relative;
      background: $dark-red;
      width: 240px;
      height: 36px;
      margin: 0 20px;
      border: none;
      font-size: 14px;
      vertical-align: top;
    }

  }

  .province .input-wrap {
    border: 2px solid $dark-red;
    border-bottom: 0;
  }

  .country, .province, .city {
    position: relative;
    width: 240px;
    height: 36px;
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
  }
}

.activity {
  text-align: center;

  background: $light-gray;
  padding: 100px 0;
  div {
    display: inline-block;
    width: 220px;
    vertical-align: top;
    margin-left: 30px;
  }

  h3 {
    letter-spacing: 23px;
    font-size: 24px;
    text-indent: 23px;
    font-weight: normal;
  }

  h4 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: normal;
  }

  p {
    font-size: 14px;
    color: gray;
    margin: 10px 0;
  }
}

.new-world {
  background: white;
  height: 560px;

  .left {
    float: left;
    position: relative;
    width: 850px;
    height: 100%;
    background: url("../images/task7/pic07.jpg") no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 120px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -12px;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 20px solid white;
    }

    h4 {
      font-size: 56px;
      font-weight: normal;
      line-height: 60px;
    }

    h3 {
      font-size: 150px;
      font-weight: normal;
      line-height: 150px;
    }

    div {
      width: 200px;
      text-align: left;
      margin: 0 auto;
      p {
        font-size: 20px;
        line-height: 40px;
      }
    }

  }

  .right {
    width: 430px;
    height: 100%;
    float: left;
    text-align: center;
    padding: 200px 60px 0;

    h3 {

      font-weight: normal;
      span {
        color: $red;
      }
    }

    p {
      color: $gray;
      line-height: 28px;
      font-size: 12px;
      margin-top: 30px;
      text-align: left;
    }

    button {
      border: 1px solid $red;
      color: $red;
      margin-top: 20px;
      background: white;
      width: 120px;
      height: 36px;
      font-size: 14px;
    }

    .circle-line {
      margin-top: 20px;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;

      }

      .solid-circle {
        font-size: 0;
        background: $gray;
        border-radius: 5px;
      }

      .circle {
        font-size: 0;
        border: 1px solid $gray;
        border-radius: 5px;
        margin-left: 15px;

      }
    }
  }

}

.new-era {
  height: 520px;

  .left, .middle, .right {
    width: 33.3%;
    height: 100%;
    float: left;
    text-align: center;
  }

  h3 {
    font-weight: normal;
    line-height: 30px;
  }

  .left {
    padding-top: 160px;
    background: $red;
    color: white;
    span {
      display: inline-block;
      width: 30px;
      height: 20px;
      vertical-align: top;
      border-top: 2px solid white;
      margin-top: 20px;
    }

    button {
      width: 150px;
      height: 40px;
      color: white;
      border: 1px solid white;
      font-size: 20px;
      background: $red;
    }
  }

  .middle {
    padding-top: 160px;
    span {
      display: inline-block;
      width: 30px;
      height: 20px;
      vertical-align: top;
      border-top: 2px solid black;
      margin-top: 20px;
    }

    button {
      width: 150px;
      height: 40px;
      color: $red;
      border: 1px solid $red;
      font-size: 20px;
      background: white;
    }
  }

  .right {
    background: url("../images/task7/pic08.jpg") no-repeat;
    background-size: cover;
    position: relative;

    &::before {
      position: absolute;
      content: " ";
      top: 50%;
      margin-top: -12px;
      left: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 20px solid white;

    }
  }

}

.volunteer {
  padding: 100px 120px 150px;

  p {
    font-size: 12px;
    color: $gray;
  }

  .title {
    text-align: center;
    padding-bottom: 80px;
    h3 {
      font-size: 20px;
      font-weight: normal;
    }

    span {
      display: inline-block;
      width: 30px;
      border-top: 2px solid $red;
      vertical-align: top;
      height: 10px;
      margin-top: 10px;
    }
  }

  .form {
    position: relative;

    .left {
      width: 300px;
      h4 {
        font-size: 14px;
      }

      p {
        margin-top: 20px;
      }

      .more {
        text-align: right;
        span {
          display: inline-block;
          margin: 5px 0 20px;
          color: $gray;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }

    .right {
      width: 650px;
      margin-left: 90px;
      position: absolute;
      left: 300px;
      top: 0;

      input[type="text"] {
        width: 45%;
        height: 40px;
        background: $light-gray;
        padding-left: 10px;
        border: none;
        margin: 8px;
      }

      textarea {
        width: 606px;
        margin: 8px;
        padding: 10px;
        background: $light-gray;
        border: none;
        resize: none;
      }

      input[type="submit"] {
        width: 606px;
        height: 40px;
        margin: 8px;
        background: $light-gray;
        border: none;
        font-size: 15px;
      }
    }
  }
}

.contact {
  background: #33363e;
  height: 360px;
  color: white;
  text-align: center;
  padding-top: 80px;

  h3 {
    font-weight: normal;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    line-height: 150%;
  }

  .email {
    margin-top: 28px;

    input[type="text"] {
      border: none;
      height: 40px;
      width: 425px;
      padding: 10px;
      font-size: 14px;
      vertical-align: top;
    }

    input[type="submit"] {
      border: none;
      height: 40px;
      width: 80px;
      background: #787878;
      color: white;
      font-size: 15px;
      vertical-align: top;
    }
  }
  .icon {
    margin-top: 30px;
    span {
      width: 50px;
      height: 50px;
      display: inline-block;
      font-size: 28px;
    }
  }

}

footer {
  height: 55px;
  color: white;
  background: #303039;
  position: relative;
  span {
    position: absolute;
    font-size: 10px;
    top: 20px;
    left: 80px;
  }

  a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    position: absolute;
    right: 40px;
    top: 20px;
  }


}