#left-out {
  display: inline-block;
  margin-left: 20px;
}

#queue {
  margin-top: 10px;
  div {
    display: inline-block;
    padding: 10px;
    background: red;
    color: white;
    margin-right: 10px;
  }
}