/* line 1, ../sass/task5.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/task5.scss */
header {
  background: black;
  height: 60px;
}
/* line 10, ../sass/task5.scss */
header img {
  height: 60px;
  margin-left: 10px;
}
/* line 14, ../sass/task5.scss */
header nav {
  float: right;
  margin-right: 10px;
  height: 60px;
}
/* line 18, ../sass/task5.scss */
header nav ul {
  height: 60px;
}
/* line 20, ../sass/task5.scss */
header nav ul li {
  height: 60px;
  list-style-type: none;
  float: left;
  text-align: center;
}
/* line 25, ../sass/task5.scss */
header nav ul li:hover {
  background: #777;
  border-bottom: 2px solid red;
}
/* line 29, ../sass/task5.scss */
header nav ul li a {
  color: white;
  line-height: 60px;
  text-decoration: none;
  padding: 0 10px;
}

/* line 40, ../sass/task5.scss */
body {
  background: #ddd;
  min-width: 750px;
}

/* line 45, ../sass/task5.scss */
#left_content {
  margin-right: 430px;
}

/* line 49, ../sass/task5.scss */
article, aside {
  margin: 30px;
  background: white;
  padding: 20px;
  box-shadow: 1px 1px 2px 1px #aaa;
}

/* line 58, ../sass/task5.scss */
article h2 {
  margin-bottom: 20px;
}
/* line 61, ../sass/task5.scss */
article h3 {
  color: gray;
  font-size: 16px;
  margin-bottom: 20px;
}
/* line 66, ../sass/task5.scss */
article .content {
  margin-top: 10px;
  text-indent: 2em;
  line-height: 120%;
}
/* line 71, ../sass/task5.scss */
article ul {
  list-style-type: none;
}
/* line 74, ../sass/task5.scss */
article ol {
  margin: 10px 30px;
}
/* line 77, ../sass/task5.scss */
article .info {
  color: gray;
  font-size: 13px;
}
/* line 81, ../sass/task5.scss */
article table {
  width: 100%;
  border-collapse: collapse;
}
/* line 84, ../sass/task5.scss */
article table tr th {
  background: black;
  color: white;
  text-align: center;
  border: 1px solid #aaa;
}
/* line 90, ../sass/task5.scss */
article table td {
  border: 1px solid #aaa;
}
/* line 93, ../sass/task5.scss */
article table tfoot {
  background: #aaa;
  color: black;
}
/* line 98, ../sass/task5.scss */
article figure {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #aaa;
  text-align: center;
  padding: 10px;
}

/* line 108, ../sass/task5.scss */
aside {
  float: right;
  width: 360px;
}
/* line 111, ../sass/task5.scss */
aside h4 {
  border-left: 3px solid #ccc;
  padding-left: 10px;
  line-height: 30px;
}
/* line 117, ../sass/task5.scss */
aside form {
  margin: 0 auto;
}
/* line 121, ../sass/task5.scss */
aside .line {
  margin-top: 5px;
}
/* line 125, ../sass/task5.scss */
aside .left {
  width: 40%;
  text-align: right;
  display: inline-block;
}
/* line 131, ../sass/task5.scss */
aside .top {
  vertical-align: top;
}
/* line 135, ../sass/task5.scss */
aside .right {
  width: 50%;
  text-align: left;
  display: inline-block;
}
/* line 141, ../sass/task5.scss */
aside .hint {
  color: #aaa;
  font-size: 14px;
  margin-top: 5px;
}
/* line 147, ../sass/task5.scss */
aside #submit {
  width: 100%;
  background: #128fdc;
  color: white;
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

/* line 159, ../sass/task5.scss */
footer {
  color: white;
  background: black;
  text-align: center;
}
/* line 163, ../sass/task5.scss */
footer p {
  padding: 20px 0;
}
